python-dotenv
langchain
langchain-community
langchain-groq
langchain-core
streamlit
pandas
numpy
pypdf
streamlit
youtube-transcript-api
validators
unstructured
pytube
numexpr
yt_dlp
langchain-yt-dlp
transformers
sentence-transformers 
re


